/* BORG CSS */

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: monospace;
}
.container {
  height: 100%;
  max-width: 550px;
  margin: 0 auto;
}
.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.center {
  text-align: center;
  align-items: center;
}
a {
  color: black;
}

/* Media Queries */

@media only screen and (max-width: 400px) {
  html,
  body {
    height: auto;
  }
  .hero {
    height: auto;
  }
}
